<%- model_class = Question -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @question.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:desc) %>:</strong></dt>
  <dd><%= @question.desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:limit_at) %>:</strong></dt>
  <dd><%= @question.limit_at %></dd>
  <% @selects.each do |select| %>
    <dt><strong><%= select.desc %>:</strong></dt>
    <dd><%= @result[select.id] %></dd>
  <% end %>
</dl>

<%= high_chart("pie", @chart_pie) %>
<%= high_chart("graph", @chart_graph)  %>

<dl class="dl-horizontal">
  <% @comments.each do |comment| %>
    <dt><strong><%= (comment[:select_id])?(comment.select[:desc]):"" %>に投票</strong></dt>
    <dd><%= comment[:created_at] %></dd>
    <dd><%= comment[:comment] %></dd>
  <% end %>
</dl>

<%= simple_form_for @comment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.input :comment %>
  <%= error_span(@comment[:comment]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
<% end %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              questions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              question_path(@question),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
